* {
    margin: auto;
    padding: 0px;
    color: white;
    font-family: 'FF Mark W05', sans-serif;
    ;
}

body {
    width: 100%;
    height: 57em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #FF4654, #101A24);
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Login {
    width: 70%;
    height: 70%;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    height: 100%;
}

.col-backgroundLogin {
    width: 70%;
    height: 100%;
    background-image: url('../imgs/backgroundLogin.jpg');
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}

.col-loginPanal {
    width: 30%;
    height: 100%;
    background-color: #fcfcfc;
    border-radius: 0px 15px 15px 0px;
}

.col-loginPanal h3,
.forgetPass,
.forgetPass a {
    color: #040c30;
}

.rowLogin {
    height: 100%;
}

.loginTitle {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
}

.LoginForm .email,
.pass,
.forgetPass {
    margin: 15px 0px;
}

.LoginForm input {
    padding: 15px 40px;
    color: black;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
}

.LoginForm input:focus {
    border: 1px solid black;
}

.LoginForm .submitBtn {
    text-align: center;
}

.LoginForm .submitBtn button {
    padding: 15px 40px;
    color: black;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    color: white;
    background-color: #FF4654;
    text-decoration: none;
    transition: all ease 0.25s;
    border-radius: 5px;
}

.LoginForm .submitBtn button:hover {
    background-color: white;
    color: #FF4654;
}