* {
    margin: auto;
    padding: 0px;
    color: white;
    font-family: 'FF Mark W05', sans-serif;
    ;
}

body {
    width: 100%;
    height: 57em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #FF4654, #101A24);
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Register {
    width: 70%;
    height: 70%;
}

.container {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    height: 100%;
}

.col-backgroundRegister {
    width: 70%;
    height: 100%;
    background-image: url('../imgs/backgroundLogin.jpg');
    background-size: cover;
    border-radius: 15px 0px 0px 15px;
}

.col-RegisterPanal {
    width: 30%;
    height: 100%;
    background-color: #fcfcfc;
    border-radius: 0px 15px 15px 0px;
}

.col-RegisterPanal h3,
.forgetPass,
.forgetPass a {
    color: #040c30;
}

.rowRegister {
    height: 100%;
}

.RegisterTitle {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 50px;
}

.RegisterForm .email,
.pass,
.forgetPass {
    margin: 15px 0px;
}

.RegisterForm input {
    padding: 15px 40px;
    color: black;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    background-color: #eeeeee;
    border-radius: 5px;
}

.RegisterForm input:focus {
    border: 1px solid black;
}

.gender {
    margin: 10px 0px;
}

.gender h4,
.gender label {
    color: black;
}

.gender input[type=radio] {
    display: inline-block;
    margin: 10px 0px;
}

.RegisterForm .submitBtn {
    text-align: center;
}

.RegisterForm .submitBtn button {
    padding: 15px 40px;
    color: black;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: none;
    color: white;
    background-color: #FF4654;
    text-decoration: none;
    transition: all ease 0.25s;
    border-radius: 5px;
}

.RegisterForm .submitBtn button:hover {
    background-color: white;
    color: #FF4654;
}

.popup {
    width: 80%;
    background: #fff;
    top: 50%;
    left: 50%;
    border-radius: 22px;
    visibility: hidden;
    padding: 0px 30px 30px ;
    position: absolute;
    text-align: center;
    transform: translate(-50%,-50%)  ;
    transition: transform 0.4s , top .4s;
    color: #333;
}

.popup .policies{
    color: #333;
    font-size: 18px;
    overflow-y: scroll;
    height: 500px;
    border: inset 3px;
    border-radius: 5px;
    margin: 10px 0px;
}

.popup h2 {
    font-size: 38px;
    color: #333;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #e6e6e6;
    color: #adadad;
    border-radius: 6px;
    font-size: 19px;
    border: 0;
}

.buttonEnabled{
    background: #FF4654 !important;
    color: white !important;
}

.popup-open {
    visibility: visible;
}

.acceptPolicy{
    margin-top: 10px 0px;
}

.acceptPolicy label{
    color: black;
}



.containerCheckBox {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerCheckBox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .containerCheckBox:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerCheckBox input:checked ~ .checkmark {
    background-color: #FF4654;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerCheckBox input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerCheckBox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }